body {
    color: #222;
    font-family: Verdana, serif;
    margin:0;
    overflow-x:hidden;
}

a {
    color: #222;
}

header {
    margin: 8px 8px 0px;
    color: #fff;
    background-color: #4caf50;
    border-radius: 10px;
    padding: 12px;
}

header h1 {
    margin: 0;
}

header p {
    margin-top: 0;
    font-weight: bold;
}

header nav a {
    color: #ffffff;
    display: block;
    border: 1px solid #fff;
    border-radius: 6px;
    padding: 6px 5px;
    text-decoration: none;
    margin: 4px 0;
    text-align: center;
    font-weight: bold;
}
header nav a:hover {
    color: #4caf50;
    background-color:#ffffff;
}

footer nav a {
    color: #ffffff;
    border: 1px solid #fff;
    border-radius: 6px;
    padding: 3px 5px;
    text-decoration: none;
}

footer nav a:hover {
    color: #32aae7;
    background-color:#ffffff;
}


main nav a {
    display:block;
    border: 1px solid #ccc;
    background-color: #f3f3f3;
    border-radius: 6px;
    text-decoration: none;
    padding: 6px;
    margin: 4px 0;
    color: #222222;
}

main nav a:hover {
    background: #fff;
}

main article {

}

main article figure {
    text-align:center;
}


main article section {
    border: 1px solid #ccc;
    background-color: #f3f3f3;
    padding: 20px;
    font-size: 80%;
    border-radius: 10px;
}

main article section h3 {
    margin:0;
}

main article section div {
    clear:both;
}

main {
    margin:8px;
}

footer {
    width:100%;
    margin: 0;
    background-color:  #32aae7;
    padding: 20px 8px 8px;
    color:#fff;
    text-align: center;
}

footer p {
    font-size: 75%;
}

footer nav a {
    display: block;
    margin-bottom: 4px;
}

#kontakt {
    background: cyan;
}

.Orang {
    color: orange;
}

@media only screen and (min-width: 600px) {

    footer nav a {
        display: inline;
    }
    header nav a {
        display: inline;
    }

    main nav {
        /*width: 20%;
        float:left;*/
        grid-area:menu;
        padding: 20px 8px 0 0;
        box-sizing: border-box;
    }

    main article figure {
        float:right;
        text-align: center;
    }

    main article section img {
        float:left;
        margin-right: 14px;
    }

    main article section {
        border: 1px solid #ccc;
        background-color: #f3f3f3;
        padding: 20px;
        font-size: 80%;
        border-radius: 10px;
        clear:both;
    }


    main {
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: auto;
        grid-template-areas: "menu article";
    }

}