
#First {
    border:1px solid black;
    width: 400px;
    background: white url("nice-img.png") center no-repeat;
    padding: 0;
}

#First li {
    display: block;
    height: 24px;
    width:100%;
    background-color: gray;
    padding-left:0 !important;
    list-style: none none;
    border-bottom: 1px solid black;
}

#First ul {
    list-style: none;
    padding-left:0 !important;
}

#First li:hover {
    background: transparent;
}

#First ul {
    background: #000;
}

#Second {
    padding: 6px 6px;
    width: 400px;
    list-style: none inside;

}

#Second li {
    height: 20px;
    border-bottom: #222 solid 1px;
    padding: 6px 2px 6px 28px;
    list-style: none outside;
    background: gray url("bullet.png") 4px center no-repeat;
    background-size: 20px 20px;
}

#Second li:nth-child(odd){
    background-color: darkgray;
}

#Second li:hover {
    padding-left: 50px;
    font-size: 120%;
    background-color: #ffffff;
    background-image: url("smile.gif");
    background-repeat: no-repeat;
}

#Second li:hover:after {
    content: '<< To je ono';
    display: inline-block;
    color:green;
    text-align: right;
    float:right;
}